<!DOCTYPE>
	<!--[if lt IE 7 ]> <html class="ie6" id="root" lang="en"> <![endif]-->
	<!--[if IE 7 ]> <html class="ie7" id="root" lang="en"> <![endif]-->
	<!--[if IE 8 ]> <html class="ie8" id="root" lang="en"> <![endif]-->
	<!--[if gt IE 8 ]> <html class="ie9" id="root" lang="en"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <html id="root" lang="en"> <!--<![endif]-->
	<head>
		<base href="http://local.alta-blue.com">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Altablue - We keep recruitment simple. We focus on creating lasting relationships with our clients and delivering on our promises.">
		<meta name="author" content="Altablue">
		<title>
		    Altablue - We keep recruitment simple. We focus on creating lasting relationships with our clients and delivering on our promises.
		</title>
		<link rel="stylesheet" href="/css/slide.css" />
		<link rel="stylesheet" href="/css/main.min.css" />
		<link rel="stylesheet" href="/css/animate.min.css" />
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body id="main">
		<div class="mp-pusher" id="mp-pusher">
			<header class="clearing" id="theNav">
				<div class="container">
					<section id="logo" class='gapless three left'>
						<a data-router-name="home" href="/"><figure><img src="/imgs/svgs/logo.svg" /></figure></a>
					</section>
					{% include "modules/nav.html" %}
				</div>
			</header>

			<div id="results"></div>
			<div class="scroller">
				<div class="scroller-inner">