/*
	
	## LOVELY SASS STUFF ##

*/

/**
*	Imports
**/

@import "_libs.min.css";
@import 'reset.css';
@import 'bourbon';
@import 'neat';
@import 'app/scss/base/base';
@import 'app/scss/framework/grid';


/**
*	Colors
**/

$color-text-black: #333;
$color-white: #fff;

// +-------------------------------------------------------------------------+
// | Flat UI                                                                 |
// +-------------------------------------------------------------------------+

// Greens
$flat-turquoise: #1ABC9C;
$flat-green-sea: #16A085;
$flat-emerald: #2ECC71;
$flat-nephritis: #27AE60;

// Blues
$flat-peter-river: #3498DB;
$flat-belize-hole: #2980B9;
$flat-wet-asphalt: #34495E;
$flat-midnight-blue: #2C3E50;

// Purples
$flat-amethyst: #9B59B6;
$flat-wisteria: #8E44AD;

// Yellows
$flat-sunflower: #F1C40F;

// Oranges
$flat-orange: #F39C12;
$flat-carrot: #E67E22;
$flat-pumpkin: #D35400;

// Reds
$flat-alizarin: #E74C3C;
$flat-pomegranate: #C0392B;

// Grays
$flat-clouds: #ECF0F1;
$flat-silver: #BDC3C7;
$flat-concrete: #95A5A6;
$flat-asbestos: #7F8C8D;

// Aliases make colors easier to remember.

// Greens
$flat-green-1: $flat-turquoise;
$flat-green-2: $flat-green-sea;
$flat-green-3: $flat-emerald;
$flat-green-4: $flat-nephritis;

// Blues
$flat-blue-1: $flat-peter-river;
$flat-blue-2: $flat-belize-hole;
$flat-blue-3: $flat-wet-asphalt;
$flat-blue-4: $flat-midnight-blue;

// Purples
$flat-purple-1: $flat-amethyst;
$flat-purple-2: $flat-wisteria;

// Yellows
$flat-yellow-1: $flat-sunflower;

// Oranges
$flat-orange-1: $flat-orange;
$flat-orange-2: $flat-carrot;
$flat-orange-3: $flat-pumpkin;

// Refs
$flat-red-1: $flat-alizarin;
$flat-red-2: $flat-pomegranate;

// Grays
$flat-gray-1: $flat-clouds;
$flat-gray-2: $flat-silver;
$flat-gray-3: $flat-concrete;
$flat-gray-4: $flat-asbestos;

/**
*	Font Setup 
**/

$font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
$serif-font-family: 'Noto Serif', Helvetica, Arial, sans-serif;
$default-font-size: 18; //Default

$light: 300;
$medium: 400;
$bold: 700;
$black: 900;

/**
*	Variables
**/



/**
*	Functions 
**/

$S:     480px;   
$M:     768px;     
$L:     1170px;     

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $context: $default-font-size;
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value/$context}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

/**
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}


@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);  
  }
}

/**
*	SITE
**/

html, body, body, button, h1, h2, h3, h4, h5, h6, input, input[type="button"], input[type="reset"], input[type="submit"], label, select, ul, li, ol, p, span, strong, a{
	font-family: $font-family;
	font-size:	$default-font-size;
	font-weight: $medium;
	color:$color-text-black;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

figure{
  img{
	   width:100%;
  }
}

  .card-box{
    background:$color-white;
    @include rem-fallback(padding, 35,50);
    @include card(1);
    @include rem-fallback(margin, 100,0);
    margin-right:auto;
    margin-left:auto;
  }

  h4{
    text-align:center;
    width:100%;
    @include rem-fallback(font-size, 32);
    text-transform:uppercase;
    font-weight:$bold;
  }

/**
* HEADER
**/

.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #E7F1EC;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $flat-midnight-blue;
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;

  // Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $color-white;
    display: block;
    float: right;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $flat-silver;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $flat-midnight-blue;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $color-white;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $flat-silver;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.6;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $flat-silver;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}

.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out; &.headroom--top{ position:relative;}}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}


/**
* HOMEPAGE - HEADER
**/

$parallax-window-height: 30em;
$parallax-background-height: 32em;

.parallax-window {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  &.image-gradient-dynamic {
    $image-gradient-color-bottom: #009fe3; 
    $transparency-top: 0.2;
    $image-gradient-color-top: #00b6e3; 
    $transparency-bottom: 0.2;
    $vertical-angle: 0deg;

    
    line-height: 0;
    position: relative;
    width: 100%;


    .overlay {
      @include background-image(linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
        transparentize($image-gradient-color-bottom, $transparency-bottom)));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }

}

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  position: relative;
  z-index: 9;
  @include rem-fallback(padding, 100,0);

  *{
    color:$color-white;
  }

  h3{
    @include rem-fallback(font-size, 32);
    font-weight:$bold;
    text-transform:uppercase;
    @include rem-fallback(font-size, 42);
    @include rem-fallback(margin-top,35);
    @include rem-fallback(margin-bottom,7);
    text-shadow: 0 1px 0 $flat-asbestos;
  }

  h4{
    font-style:italic;
    text-transform:none;
    font-weight:$medium;
    @include rem-fallback(font-size, 28);
    text-shadow: 0 1px 0 $flat-asbestos;
  }

  figure{
    img{
      border-radius:500px;
      border:7px solid $flat-clouds;

      @include card(1);
    }
  }

  @media only screen and (max-width: 725px) {
    
    .container{
      figure{
        &.three{
          width:25%;
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    
    .container{
      figure{
        &.three{
          width:40%;
        }
      }
    }
  }

}

.parallax-background {
  background: url("../imgs/fr635091249403890000.jpg") repeat;
  background-position: bottom;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

#aboutme{

  position:relative;
  border-top:2px solid rgba(255,255,255,0.5);
  border-bottom:2px solid $flat-clouds;

  &::after {
  content: "";
  background:url("../imgs/small_steps.png") repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height:100%;
  width:100%;   
}

.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1em;
  overflow: auto;
  padding: 0;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
  }

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $action-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($action-color, -50%);
  }

  .bullet-icon-3 {
    background: adjust-hue($action-color, -140%);
  }

  .bullet-content {
    margin-left: $icon-bullet-size * 1.4;
    margin-bottom: 2em;
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}

}

#skills{

  position:relative;
  border-top:2px solid rgba(255,255,255,0.3);
  border-bottom:2px solid $flat-clouds;

    &::after {
  content: "";
  background:url("../imgs/geometry2.png") repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height:100%;
  width:100%;
  } 

.progress-bar-indication {  
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $progress-border-color: $base-border-color;
  $progress-border: 1px solid $progress-border-color;
  $progress-meter-border-color: $action-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;
  $progress-color: white;

  @include rem-fallback(height, 30);

  background-color: $progress-background;
  border-radius: $base-border-radius;
  border: $progress-border;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  margin: 0 auto;
  width: 100%;

  @include rem-fallback(margin-bottom, 30);

  > span.meter {
    @include box-sizing(border-box);
    background-color: $progress-meter-color;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border-bottom-right-radius: 0;
    border-radius: $base-border-radius /1.5;
    border-top-right-radius: 0;
    border: $progress-meter-border;
    display: block;
    height: 100%;
    width: 60%;
    border-color: rgba(0,0,0,0.2);

    &.nephritis{
      background-color:$flat-nephritis;
    }

    &.emerald{
      background-color:$flat-emerald;
    }
  }

  p {
    color: $progress-color;    
    line-height: $base-line-height;
    margin: 0;
    padding: .1em .5em;
    text-shadow: 0 0 1px black;
  }
}


}

#projects{

  position:relative;
  border-top:2px solid rgba(255,255,255,0.2);
  border-bottom:2px solid $flat-clouds;

  &::after {
    content: "";
    background:url("../imgs/cubes.png") repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height:100%;
    width:100%;   
  }

  div.container{
    @include rem-fallback(margin-top, 100);
    @include rem-fallback(margin-bottom, 100);

    .cards {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }

    .card {
      $base-border-color: gainsboro !default;
      $base-border-radius: 3px !default;
      $base-background-color: white !default;
      $base-spacing: 1.5em !default;
      $action-color: #477DCA !default;
      $dark-gray: #333 !default;
      $base-font-color: $dark-gray !default;
      $card-border-color: $base-border-color;
      $card-border: 1px solid $card-border-color;
      $card-background: lighten($card-border-color, 10%);
      $card-header-background: $card-background;
      $card-margin: 1em;
      $card-image-hover-opacity: 0.7;
      $card-image-hover-color: #F8F2B4;

      @include flex-basis(15em);
      @include flex-grow(1);
      @include transition (all 0.2s ease-in-out);
      background-color: $card-background;
      border-radius: $base-border-radius;
      border: $card-border;
      box-shadow: 0 2px 4px darken($base-background-color, 10%);
      cursor: pointer;
      margin: 0 $card-margin $base-spacing $card-margin;
      position: relative;


      .card-image {
        overflow: hidden;
        height: 150px;
        max-height: 150px;
        background-color: $card-image-hover-color;

        img {
          @include transition (all 0.2s ease-in-out);
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
          width: 100%;
          opacity: 1;
        }
      }

      .card-header {
        @include transition (all 0.2s ease-in-out);
        background-color: $card-header-background;
        border-bottom: $card-border;
        border-radius: $base-border-radius $base-border-radius 0 0;
        font-weight: bold;
        line-height: 1.5em;
        padding: ($base-spacing / 3) ($base-spacing / 2);
      }

      .card-copy {
        font-size: 0.9em;
        line-height: 1.5em;
        padding: ($base-spacing / 2) ($base-spacing / 2);

        p {
          margin: 0 0 ($base-spacing / 2);
        }
      }

      &:focus,
      &:hover {
        cursor: pointer;

        img {
          opacity: $card-image-hover-opacity;
        }
      }

      &:active {
        background-color: $card-background;

        .card-header {
          background-color: $card-background;
        }
      }
    }
  }

}

/**
* FOOTER
**/

.footer {
  $base-spacing: 1.5em !default;
  $action-color: $flat-midnight-blue !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  } 

  .footer-links {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
    margin-bottom: $base-spacing;
  }

  ul {
    @include flex-basis(13em);
    @include flex-shrink(0);
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;

    a{
      color: $footer-link-color;

      &:focus,
      &:hover {
        color: transparentize($footer-color, 0);
      }

    }
  }
}

@media only screen and (max-width: 480px) {

  .parallax-static-content{
    .container{
      ul{
        li{
          float:left;
          width:24%;
          clear:none;
        }
      }
    }
  }

  p{
    text-align:justify;
  }

  .bullet{
    p{
      text-align:left;
    }
  }

}
