.icon {
	background-repeat: no-repeat;

	&.icon-au {
		background-image: url('../../../_assets/imgs/svgs-pngs/au.png');
	}

	&.icon-cloud {
		background-image: url('../../../_assets/imgs/svgs-pngs/cloud.png');
	}

	&.icon-docs-grey {
		background-image: url('../../../_assets/imgs/svgs-pngs/docs-grey.png');
	}

	&.icon-docs {
		background-image: url('../../../_assets/imgs/svgs-pngs/docs.png');
	}

	&.icon-email {
		background-image: url('../../../_assets/imgs/svgs-pngs/email.png');
	}

	&.icon-facebook {
		background-image: url('../../../_assets/imgs/svgs-pngs/facebook.png');
	}

	&.icon-gb {
		background-image: url('../../../_assets/imgs/svgs-pngs/gb.png');
	}

	&.icon-google {
		background-image: url('../../../_assets/imgs/svgs-pngs/google.png');
	}

	&.icon-linkedin {
		background-image: url('../../../_assets/imgs/svgs-pngs/linkedin.png');
	}

	&.icon-logo-white {
		background-image: url('../../../_assets/imgs/svgs-pngs/logo-white.png');
	}

	&.icon-logo {
		background-image: url('../../../_assets/imgs/svgs-pngs/logo.png');
	}

	&.icon-menu {
		background-image: url('../../../_assets/imgs/svgs-pngs/menu.png');
	}

	&.icon-on-demand {
		background-image: url('../../../_assets/imgs/svgs-pngs/on-demand.png');
	}

	&.icon-phone {
		background-image: url('../../../_assets/imgs/svgs-pngs/phone.png');
	}

	&.icon-pin {
		background-image: url('../../../_assets/imgs/svgs-pngs/pin.png');
	}

	&.icon-search {
		background-image: url('../../../_assets/imgs/svgs-pngs/search.png');
	}

	&.icon-tie {
		background-image: url('../../../_assets/imgs/svgs-pngs/tie.png');
	}

	&.icon-twitter {
		background-image: url('../../../_assets/imgs/svgs-pngs/twitter.png');
	}

	&.icon-us {
		background-image: url('../../../_assets/imgs/svgs-pngs/us.png');
	}

}