<section parallax id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <div class="container">
		<div class="fourteen gapless centered clearing">
			<figure class="three centered clearing">
				<img src="app/imgs/me.jpg" />
			</figure>
			<div class="ten centered gapless clearing">
				<h3>Callum Hopkins</h3>
				<h4>Digital Developer &amp; Desiger -  Web Enthusaist</h4>
				<ul class="half centered gapless clearing">
					<li class="left quarter col"><a href="#"><img height="30" src="app/imgs/twitter.svg" /></a></li>
					<li class="left quarter col"><a href="#"><img height="30" src="app/imgs/github.svg" /></a></li>
					<li class="left quarter col"><a href="#"><img height="30" src="app/imgs/dribbble.svg" /></a></li>
					<li class="left quarter col"><a href="#"><img height="30" src="app/imgs/email.svg" /></a></li>
				</ul>
			</div>
		</div>
    </div>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</section>

<section id="aboutme">
	<div class="container">
		<div class="centered fourteen gapless card-box">
			<article>
				<h4>Passonate about web</h4>
				<p>With 10 years experience in web technologies and 5 years of working in the web industry professional, the web as an industry is something I am truely passonate about. I love learning new technologies, methadolgies and process for tackle the ever changing challanges in delivering online based digital solutions.</p>
				<p>I care about user experience and delivering high quality results. I'm a strong believer in doing things to right way and working collabtivly to achieve commons goals. I believe design can change the world and that code is poetry. I'm a open source contributor and an advicator for web standards.</p>
				<hr/>
				<ul class="bullets">
				  <li class="bullet">
				    <div class="bullet-icon bullet-icon-1">
				      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
				" alt="">
				    </div>
				    <div class="bullet-content">
				      <h2>Being Agile</h2>
				      <p>I believe that agile methadolgies allow projects to move quickly and effectively whilst allow them to scale when required. I support the idea that Minimal Viable Products allow business to constantly assess and address the needs of their customers and clients whilst delivering improvments and upgrades effecently and quickly.</p>
				      </div>
				  </li>  
				  <li class="bullet">
				    <div class="bullet-icon bullet-icon-2">
				      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
				    </div>
				    <div class="bullet-content">
				      <h2>Responsive Design</h2>
				      <p>The future of the web is devices. Screens will forever change sizes and I believe that websites today should be build to handle future devices. Responsive Web Design a key element to ensuring this and I impliment responsive web design solutions in all the work I produce.</p>
				    </div>
				  </li>
				  <li class="bullet">
				    <div class="bullet-icon bullet-icon-3">
				      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
				    </div>
				    <div class="bullet-content">
				      <h2>Engaging Customers</h2>
				      <p>Through design features and interactive elements, I aim to create an engaging experience for visitors in all my projects. I like to impliment current design trends and tailor each websites to suit the needs of the business and their target customers.</p>
				    </div>
				  </li> 
				  <li class="bullet">
				    <div class="bullet-icon bullet-icon-3">
				      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
				    </div>
				    <div class="bullet-content">
				      <h2>Built to Last</h2>
				      <p>Every web development project I work on, I build using the latest in web technologies and web standards. I constantly explore and experiment with new web development technologies to help choose the best solutions for the task at hand.</p>
				    </div>
				  </li> 
				</ul>

			</article>
		</div>
	</div>
</section>

<section id="skills">
	<div class="container">
		<div class="fourteen centered gapless card-box">
			<h4>Skill Set</h4>
			<hr/>
			<p>Back-end Coding</p>
			<div class="progress-bar-indication">
			  <span class="meter emerald" style="width: 85%">
			  </span>
			</div>
			<p>Front-end Coding</p>
			<div class="progress-bar-indication">
			  <span class="meter emerald" style="width: 95%">
			  </span>
			</div>
			<p>UI &amp; UX Design</p>
			<div class="progress-bar-indication">
			  <span class="meter emerald" style="width: 85%">
			  </span>
			</div>
			<p>Project Management</p>
			<div class="progress-bar-indication">
			  <span class="meter emerald" style="width: 50%">
			  </span>
			</div>
			<p>Digital Marketing</p>
			<div class="progress-bar-indication">
			  <span class="meter emerald" style="width: 45%">
			  </span>
			</div>
			<p>Content Strategy &amp; Generation</p>
			<div class="progress-bar-indication">
			  <span class="meter emerald" style="width: 70%">
			  </span>
			</div>
			<p>Server Management</p>
			<div class="progress-bar-indication">
			  <span class="meter emerald" style="width: 55%">
			  </span>
			</div>
			<p>Cross Browser Copatability</p>
			<div class="progress-bar-indication">
			  <span class="meter emerald" style="width: 75%">
			  </span>
			</div>
		</div>
	</div>
</section>

<section id="projects">
	<div class="container">
		<div class="fourteen centered gapless">
			<h4>Examples of Work</h4>
			<hr/>
			<div class="cards">
			  <div class="card">
			    <div class="card-image">
			      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
			    </div>
			    <div class="card-header">
			      First Card
			    </div>
			    <div class="card-copy">
			      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
			    </div>
			  </div>

			  <div class="card">
			    <div class="card-image">
			      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
			    </div>
			    <div class="card-header">
			      Another Card
			    </div>
			    <div class="card-copy">
			      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
			    </div>
			  </div>

			  <div class="card">
			    <div class="card-image">
			      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
			    </div>
			    <div class="card-header">
			      The Last Card
			    </div>
			    <div class="card-copy">
			      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</section>